<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-faded">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
      <img src="assets/img/A-64.png" width="30" height="30" alt="" loading="lazy">
    </a>
    <!-- active es la clase que cambia de color la pestaña
    para indicar que se esta visitando esa ruta
    routerLinkActive="active" esta propiedad
    agrega una clase para pintar de otro color
    la pestaña actual
    se debe pasar a todos los elementos li de navbar
    -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Home </a>
        <!--[routerLink]="['home'] de esta forma asigno una ruta para
        poder navegar en angular
       -->
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"[routerLink]="['heroes']">Héroes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"[routerLink]="['about']">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
